{% extends 'management/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block financeformcontent %}
<div class="block lg:hidden">
    <h1 class="my-3 text-xl text-center text-white py-2 border rounded-xl bg-gray-500" style="width: 90%; margin-left: 5%;">{{ title }}</h1>

    <form method="post" action="." enctype="multipart/form-data" style="width: 90%; margin-left: 5%; margin-bottom: 20px; padding: 5px 25px; border-radius: 5px;" class="bg-gray-300">

        {% if form.errors %}
            <div class="mb-3 p-6 bg-red-200 rounded-lg">

                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            {% if field.name == "type_transaction" %}
                                <li>Echec ! corrigez en selectionant la <strong class="bg-red-500">transaction</strong></li>
                                <li>{{ field.errors|join:", " }}__veuillez selectionner, eg. Output</li>
                            {% elif field.name == "amount_in_usd" %}
                                <li>Oops, Desole ! veuillez mettre le montant en dollars<strong class="bg-red-500"> le champ Montant</strong> prend uniquement les chiffres.</li>
                                <li>{{ field.errors|join:", " }} eg. 23.4_ et non 23,4_ (et pas de signe $ ou fc)</li>
                            {% endif %}
                            <hr><br>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p class="bg-teal-500 text-center">Cher {{ request.user }}, Bonne chance !</p>
            </div>
        {% endif %}

        {% if form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-500 rounded-xl">
                {{ form.non_field_errors }}
            </div>
        {% endif %}





        {% csrf_token %}

        <div class="space-y-4 ">
            {{ form.as_p }}
        </div>

        <button class="mt-5 mb-3 ml-0 py-2 px-6 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Enregistrer</button>
    </form>
</div>


<!-----------------------------------  LG AND XL RESPONSIVE DESIGN------------------------------------->
<div class="hidden lg:block">
    <h1 class="mb-6 mt-6 text-2xl text-center text-white py-4 border rounded-xl bg-gray-500" style="width: 50%; margin-left: 25%;">{{ title }}</h1>

    <form method="post" action="." enctype="multipart/form-data" style="width: 50%; margin-left: 25%; margin-bottom: 50px; padding: 10px 50px; border-radius: 20px;" class="bg-gray-300">
        {% if form.errors %}
            <div class="mb-3 p-6 bg-red-200 rounded-xl">

                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            {% if field.name == "type_transaction" %}
                                <li>Echec ! corrigez en selectionant la <strong class="bg-red-500">transaction</strong></li>
                                <li>{{ field.errors|join:", " }}__veuillez selectionner, eg. Output</li>
                            {% elif field.name == "amount_in_usd" %}
                                <li>Oops, Desole ! veuillez mettre le montant en dollars <strong class="bg-red-500"> le champ Montant</strong> prend uniquement les chiffres.</li>
                                <li>eg. 23.4_ et non 23,4_ (et pas de signe $ ou fc)</li>
                            {% endif %}
                            <hr><br>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
        {% endif %}

        {% if form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-500 rounded-xl">
                {{ form.non_field_errors }}
            </div>
        {% endif %}





        {% csrf_token %}

        <div class="space-y-8 ">
            {{ form.as_p }}
        </div>

        <button class="mt-6 mb-10 ml-50 py-4 px-6 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>
</div>
{% endblock %}